@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<body>
    <div class="text-center">
        <iframe width="420" height="315"
                src="https://www.youtube.com/embed/a0ZkhlJUQAM">
        </iframe>
    </div>
</body>

